<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-WLToast" version="1.0.0" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>WLToast</name>
    <js-module name="WLToast" src="www/WLToast.js">
        <clobbers target="cordova.plugins.WLToast" />
    </js-module>
    <platform name="ios">
    <config-file parent="/*" target="config.xml">
        <feature name="WLToast">
            <param name="ios-package" value="WLToast" />
        </feature>
    </config-file>
    <header-file src="src/ios/WLToast.h" />
    <source-file src="src/ios/WLToast.m" />

    <header-file src="src/ios/CustomAlert.h" />
    <source-file src="src/ios/CustomAlert.m" />
</platform>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="WLToast">
                <param name="android-package" value="cordova-plugin-WLToast.WLToast" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/WLToast.java" target-dir="src/cordova-plugin-WLToast/WLToast" />
    </platform>
</plugin>